# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtualenv
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env 

SECRET_KEY=django-insecure-ozrq%j4*6x_n5yzm9i#2w99__k1@t*r)qb5!!uafbj_=u2im^= 